#topbar {

    width: 1000px;
    margin: 0 auto;
    height: 40px;

}

body {
    margin: 0%;
    padding: 0%;
    font-family: Arial,Helvetica,sans-serif;
}

#logo {

    margin: 8px;
    width: 90px;
    float: left;
    margin-right: 8px;

}

.topbar-section {

    float: left;
    border-left: 1px #cccccc solid;
    height: 100%;

}

#sign-in-img {

    width: 25px;
    height: 25px;
    margin: 8px 8px;
    float: left;

}

#sign-in-txt {

    font-weight: bold;
    margin-top: 12px;
    position: relative;
    top: 11px;

}

#signin-div {

    margin-right: 65px;

}

#news-txt {

    font-weight: bold;
    margin-top: 12px;
    margin-left: 15px;
    position: relative;
    top: 11px;

}
